html {
  min-height: 100vh;
  position: relative;
}
.bg-navbar {
  background-color: #0077b3 !important;
  border-bottom: solid 4px deepskyblue;
  z-index: 1000;
}
.bg-footer {
  background-color: #0077b3 !important;
  border-top: solid 4px deepskyblue;
}